asgiref==3.4.1
beautifulsoup4
certifi
charset-normalizer
dj-database-url==0.5.0
Django==3.2.7
django-bootstrap4
django-heroku
djangorestframework
gunicorn==20.1.0
idna==3.2
Pillow
PyJWT==1.7.1
pytz==2021.1
requests
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
twilio
urllib3==1.26.6
whitenoise==5.3.0
